body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#banner {
    background-image: url('banner.jpg'); /* Adjust the path to your image */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire area of the div without cropping */
    width: 100%; /* Full width */
    height: auto; /* Start with zero height */
    padding-top: 25.8%; /* Percentage padding-top maintains the aspect ratio */
    
    position: relative; /* Needed for any absolutely positioned content inside */
}

/* Example media query for very large screens */
@media (min-width: 1200px) {
    #banner {
        padding-top: 45.8%; /* Adjust this value based on your actual aspect ratio */
    }
}


#slideshow {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 25%;
    left: 10%; /* Aligns slideshow to the left */
    transform: translateY(-50%); /* Keeps the slideshow vertically centered */
    display: block;
    padding: 0;
    justify-content: center;
    align-items: center;
}



#slideshow p {
    font-family: 'Pacifico', cursive;
    color: #AED56E;
    font-size: 35px;
    margin: 0;
    text-align: center;
}


#logo {
    position: absolute; /* Absolute position for the logo within the banner */
    bottom: 15%; /* Centers vertically */
    left: 15%; /* Increase this value to move further from the left edge */
    transform: translateY(-50%); /* Ensures vertical center alignment */
}

#logo img {
    display: block; /* Ensures the image does not have extra space below it */
    width: auto; /* Keeps original image width */
    height: auto; /* Keeps original image height */
}
}

.client-logo {
    width: 100%;
    height: auto;
    
}


@media (max-width: 768px) {
    #slideshow, #logo {
        left: 10%; /* More margin on smaller screens */
        width: 30%; /* Adjust width to fit smaller screens better */
    }

    #slideshow {
        top: 5%; /* Adjust position */
        font-size: 5vw; /* Slightly larger text on smaller screens */
    }

    #logo {
        top: 60%; /* Lower the logo to avoid overlap */
        width: 25vw; /* Larger relative size on smaller screens */
    }
}

@media (max-width: 480px) {
    #slideshow {
        font-size: 6vw; /* Even larger text for very small screens */
    }

    logo {
        width: 30vw; /* Adjust width for very small devices */
    }
}




#navbar {
    background-color: #24372E; /* Dark background for the navbar */
    color: #AED56E;
    text-decoration-color: #AED56E;
    text-align: center; /* Centers the navigation links */
    padding: 10px 0; /* Padding above and below the links */
    font-family: Helvetica, sans-serif; /* Sets a clean, readable font */
}

#navbar ul {
    list-style: none; /* Removes bullet points from the list */
    padding: 0;
    margin: 0; /* Removes default margin */
    display: flex; /* Uses flexbox for positioning */
    justify-content: flex-end; /* Aligns children elements (li) to the right */
}

#navbar ul li {
    margin-right: 20px; /* Space between items */
}

#navbar ul li a {
    color: #AED56E; /* Sets the link color to white */
    text-decoration: none; /* Removes underline from links */
    font-weight: 100; /* Makes the font bold */
    font-size: 16px; /* Sets a comfortable reading size */
}

#navbar ul li a:hover {
    color: #c7d5e0; /* Light blue color for hover effect */
}




#intro-section {
    background-color: #F5ECE1; /* Light peach background */
    color: #24372E; /* Dark teal color for the text */
    text-align: center; /* Centers the text horizontally */
    padding: 50px 20px; /* Adds padding around the text for better spacing */
    font-size: 15px; /* Sets a larger font size for visibility */
    letter-spacing: 1.5px;
}

#intro-section h1 {
    margin: 0; /* Removes default margin to ensure alignment is precise */
    font-family: 'Cabin', sans-serif; /* Uses Cabin font */
    font-weight: 800; /* Bold weight for the heading */
    padding: 30px;
       
}

#intro-section h2 {
    margin: 0; /* Removes default margin to ensure alignment is precise */
    font-family: 'Cabin', sans-serif; /* Uses Cabin font */
    font-weight: 800; /* Bold weight for the heading */
    padding: 40px;
    font-size: 20px; /* Sets a larger font size for visibility */

    
}

#intro-section p1 {
    margin: 0; /* Removes default margin to ensure alignment is precise */
    font-family: 'Cabin', sans-serif; /* Uses Cabin font */
    font-weight: 50; /* Bold weight for the heading */
    font-size: 17px; /* Sets a larger font size for visibility */
    letter-spacing: 1.2px;
    line-height: 2em;
    padding: 50px;
    margin: 0 50px;
}

#image-container img {
    max-width: 80%; /* Adjusts the max width of the image */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-top: 20px; /* Adds space between the text and the image */
}

#action-button {
     background-color: #24372E; /* Dark teal background color for the button */
    color: white; /* White text color */
    padding: 20px 40px; /* Adds padding around the text within the button */
    width: auto; /* Allows the button width to grow with the padding and text */
    height: auto; /* Allows the button height to adjust based on padding and text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Font size of the button text */
    cursor: pointer; /* Changes the cursor on hover */
    margin-top: 20px; /* Space above the button */
    box-sizing: border-box; /* Ensures padding is included in width/height calculations */
     font-family: 'Cabin', sans-serif; /* Uses Cabin font */
    font-weight: 50; /* Bold weight for the heading */
    font-size: 17px; /* Sets a larger font size for visibility */
    letter-spacing: 1.2px;
}
